<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Disaster Locator</h1>

    <h2>This project is a dashboard of geotagged Tweets collected during a natural disaster.</h2>



    <h2><a href="/Disaster_Locator">Disaster Locator</a></h2>




    <p>Dashboard built by: Ben Liu, Chris Sinatra, Connie Tiet, and Mike Hong</p>
    <p>Full project hosted on <a href="https://github.com/csinatra/Twitter-Disaster-Repo">Github</a></p>

  </body>
</html>
