<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Welcome to Disaster Locator!</h2>

    <p>This project is a dashboard of geotagged Tweets collected during a natural disaster.</p>



    <p><a href="/Disaster_Locator">Disaster Locator</a></p>




    <p>Dashboard built by: Ben Liu, Chris Sinatra, Connie Tiet, and Mike Hong</p>
    <p>Full project hosted on <a href="https://github.com/csinatra/Twitter-Disaster-Repo">Github</a></p>

  </body>
</html>
